model:
  name: random_forest
  n_estimators: 800
  max_depth: 30
  min_samples_split: 5
  min_samples_leaf: 5
  n_jobs: -1
  random_state: 42
  class_weight: balanced
  cv_folds: 5
  max_features: 0.2

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Testing standard

  pca:
    enabled: false
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.0005

  select_xgboost_k:
    enabled: true
    k: 20000

  select_k_best:
    enabled: false
    k: 100000

  select_first_k:
    enabled: false
    k: 150000