model:
  name: decision_tree
  criterion: gini
  max_depth: 20
  min_samples_split: 10
  min_samples_leaf: 5
  random_state: 42
  cv_folds: 5

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Testing standard

  pca:
    enabled: false
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.001

  select_k_best:
    enabled: true
    k: 100000

  select_first_k:
    enabled: false
    k: 100000