model:
  name: random_forest
  n_estimators: 300
  max_depth: 30
  min_samples_split: 5
  min_samples_leaf: 2
  n_jobs: -1
  random_state: 42
  class_weight: balanced
  cv_folds: 5

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Laboratory typing platform
      - Testing standard

  pca:
    enabled: false
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.0005

  select_first_k:
    enabled: true
    k: 150000