model:
  name: xgboost
  booster: gbtree

  eta: 0.05
  max_depth: 6
  min_child_weight: 5

  subsample: 0.75
  colsample_bytree: 0.5

  lambda: 5.0
  alpha: 1.0

  n_estimators: 500
  tree_method: hist
  max_bin: 250
  n_jobs: -1

  random_state: 42
  eval_metric: logloss
  cv_folds: 5

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Testing standard

  pca:
    enabled: false
    n_components: 300
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.0003

  select_variance_k:
    enabled: true
    k: 10000
    
  select_xgboost_k:
    enabled: true
    k: 20000

  select_k_best:
    enabled: false
    k: 20000

  select_first_k:
    enabled: false
    k: 200000
hyperoptimization:

  type: optuna   # grid | random | optuna

  # a value set to None will not be searched for optimization
  # and we will take the value of the model defined at the beginning of this file

  # -------------------
  # RANDOM SEARCH
  # -------------------
  random:
    n_iter: 40

    n_estimators: None
    criterion: None
    max_depth: None
    min_samples_split: None
    min_samples_leaf: None
    max_features: None
    bootstrap: None
    class_weight: None

  # -------------------
  # GRID SEARCH
  # -------------------
  grid:
    n_estimators: [500, 1000, 1500]
    criterion: ["gini", "entropy"]
    max_depth: [10, 20, 30]
    min_samples_split: [2, 5]
    min_samples_leaf: [1, 2]
    max_features: None
    bootstrap: None
    class_weight: None


  # -------------------
  # OPTUNA SEARCH
  # -------------------
  optuna:
    n_trials: 200

    eta:
      type: float
      low: 0.01
      high: 0.3
      log: true

    max_depth:
      type: int
      low: 3
      high: 14

    min_child_weight:
      type: int
      low: 1
      high: 12

    subsample:
      type: float
      low: 0.4
      high: 1.0

    colsample_bytree:
      type: float
      low: 0.3
      high: 1.0

    lambda:
      type: float
      low: 0.01
      high: 15.0
      log: true

    alpha:
      type: float
      low: 0.0
      high: 10.0
      log: true

    n_estimators:
      type: int
      low: 300
      high: 2000

    booster: None
    tree_method: None
    max_bin: None
    eval_metric: None