model:

  name: random_forest
  cv_folds: 5
  n_jobs: -1

  n_estimators: 1200

  min_samples_split: 5
  min_samples_leaf: 2

  max_features: sqrt
  max_depth: 20

  criterion: entropy
  bootstrap: false

  class_weight: balanced_subsample
  
  random_state: 42

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Testing standard

  pca:
    enabled: false
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.002
  
  select_variance_k:
    enabled: true
    k: 10000

  select_xgboost_k:
    enabled: false
    k: 8000

  select_k_best:
    enabled: false
    k: 40000

  select_first_k:
    enabled: false
    k: 150000