model:

  name: random_forest
  cv_folds: 5
  n_jobs: -1

  n_estimators: 1200

  min_samples_split: 5
  min_samples_leaf: 2

  max_features: sqrt
  max_depth: 20

  criterion: entropy
  bootstrap: false

  class_weight: balanced_subsample
  
  random_state: 42

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Testing standard

  pca:
    enabled: false
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.002
  
  select_variance_k:
    enabled: false
    k: 10000

  select_xgboost_k:
    enabled: false
    k: 8000

  select_k_best:
    enabled: true
    k: 40000

  select_first_k:
    enabled: false
    k: 150000
  
hyperoptimization:

  type: optuna   # grid | random | optuna

  # a value set to None will not be searched for optimization
  # and we will take the value of the model defined at the beginning of this file

  # -------------------
  # RANDOM SEARCH
  # -------------------
  random:
    n_iter: 40

    n_estimators: None
    criterion: None
    max_depth: None
    min_samples_split: None
    min_samples_leaf: None
    max_features: None
    bootstrap: None
    class_weight: None

  # -------------------
  # GRID SEARCH
  # -------------------
  grid:
    n_estimators: [500, 1000, 1500]
    criterion: ["gini", "entropy"]
    max_depth: [10, 20, 30]
    min_samples_split: [2, 5]
    min_samples_leaf: [1, 2]
    max_features: None
    bootstrap: None
    class_weight: None


  # -------------------
  # OPTUNA SEARCH
  # -------------------
  optuna:
    n_trials: 100

    n_estimators:
      type: int
      low: 200
      high: 2000

    criterion: None

    max_depth:
      type: int
      low: 5
      high: 40

    min_samples_split:
      None
      # type: int
      # low: 2
      # high: 20

    min_samples_leaf:
      None
      # type: int
      # low: 1
      # high: 10

    max_features:
      type: categorical
      values: ["sqrt", "log2", 0.2, 0.5, 0.8]

    bootstrap: None
    class_weight: None