model:
  name: random_forest
  n_estimators: 500
  max_depth: 12
  min_samples_split: 20
  min_samples_leaf: 15
  n_jobs: -1
  random_state: 42
  class_weight: balanced_subsample
  cv_folds: 5
  max_features: sqrt

preprocessing:
  normalize: false

  one_hot_encode:
    enabled: true
    columns:
      - Isolation type
      - Location
      - Isolation source
      - Testing standard

  pca:
    enabled: false
    svd_solver: randomized

  variance_threshold:
    enabled: true
    threshold: 0.002
  
  select_variance_k:
    enabled: true
    k: 10000

  select_xgboost_k:
    enabled: false
    k: 8000

  select_k_best:
    enabled: false
    k: 40000

  select_first_k:
    enabled: false
    k: 150000